.benefits {
  flex-wrap: wrap;   
  
    &__title {
      margin-top: 0;
      margin-bottom: 10px;
    
      font-size: 14px;
      line-height: 1.15;
      color: $titles-color;
      text-transform: uppercase;

      @media screen and (max-width: 767px){
        text-align: center;
      }
    }
    
    &__description {  
      margin: 0;
      font-size: 14px;
      line-height: 1.71;
      color: $description-header-link-color;
      
    }

  }  

  .benefits__item {
    margin-bottom: 30px;       

    @media screen and (max-width: 767px) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 30px) / 2);
      margin-right: 30px;
      &:nth-child(2n) {
        margin-right:0px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom:0px;
      }
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 3 * 30px) / 4);
      margin-right: 30px;
      &:nth-child(4n) {
        margin-right:0px;
      }
      &:nth-last-child(-n + 4) {
        margin-bottom:0px;
      }
    }

  
  &::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: $team-buttons-bg-color;
    background-position: center;
    background-size: 70px 70px;
    background-repeat: no-repeat;
  }
  
  &:nth-child(1)::before {
    background-image: url('../img/antenna.svg');
  }
  
  &:nth-child(2)::before {
    background-image: url('../img/clock.svg');
  }
  
  &:nth-child(3)::before {
    background-image: url('../img/diagram.svg');
  }
  
  &:nth-child(4)::before {
    background-image: url('../img/astronaut.svg');
  }
} 
 