.footer {
    padding: 60px 0;  
    color: $main-color;
    background-color: $footer-bg-color;
    

    &__container {
        @media screen and (max-width: 1199px) {
            text-align: center;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

    }   
    
    &__contacts {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: inline-block;
            margin-right: 165px;
            width: 232px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 70px;
        }
    }
}
    

