.footer {
    padding: 60px 0px;  
    color: $main-color;
    background-color: $footer-bg-color;
    
    

    // стилі десктопа
    &__container {
    text-align: center;
    //     align-items: flex-start;
    //     justify-content: center;
    // }
       
    // застосувати на десктопі
    // &__contacts {
    //      margin-right: 70px;
    //      width: 231px;
    }
}
    

