.galery {
  flex-wrap: wrap;
  &__item {
      flex-basis: calc((100% - 30px * 2) / 3);
      margin-right: 30px;
      margin-bottom: 30px;
      font-size: 0;
    
    
      border: 1px solid $border-color;
  
      &:nth-child(3n){
        margin-right: 0;
      }
  
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
  }    
    
  
  &__link {
      text-decoration: none;
  }
}
  

  
  
  

  
  