.header {
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid $header-border-color;

  @media screen and (max-width: 767px) {
    position: relative;
  }

    &__container {
  
      display: flex;
      align-items: center;
      justify-content: space-between;  
      }
    
  }
  
  
  