.hero {
    max-width: 768px;
    min-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;  

   background-color: $hero-bg-color; 
   background-image: linear-gradient(to right,$overlay,$overlay), url('../img/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center;

     @media screen and (min-width:768px) {
      max-width: 1200px;
      height: 400px;
    }

    @media screen and (min-width:768px) {
      max-width: 1600px;
      height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;  
    }

  
  

    &__title {
      
       margin-top: 0;
       margin-right: auto;
       margin-bottom: 30px;
       margin-left: auto;
       
       max-width: 360px;
    
      font-size: 26px;
      font-weight: 900;
      line-height: 1.615;
      color: $main-color;
      letter-spacing: 0.06em;
      text-align: center;
      text-transform: uppercase;
      
      @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.364;
      }

      
    }

    &__button {
      margin-left: auto;
      margin-right: auto;
      padding: 10px 32px;
    }

  }
  
 