    .section {
  padding-bottom: 94px;
    
    
    &--start {
      padding-top: 94px;
    }
    
    &--grey {
      background-color: $team-buttons-bg-color;
    }
    
    &__title {
      margin-top: 0;
      margin-bottom: 50px;  
      margin-left: auto;
      margin-right: auto;
      font-size: 36px;
      color: $titles-color;
      text-align: center;
      line-height: 1.17;
      letter-spacing: 0.03em;
    }
  
  }
    