.team {
  flex-wrap: wrap;
  
  &__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
    padding-bottom: 30px;
  
    text-align: center;
    background-color: $main-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
      &:nth-child(4n) {
        margin-right: 0px;  
      }
  
  }
  
  
  
  &__img {
    margin-bottom: 30px;
  }
  
  &__name {
    margin-top: 0;
    margin-bottom: 10px;
  
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    color: $titles-color;
  }
  
  &__position {
    margin-top: 0;
    margin-bottom: 16px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    color: $description-header-link-color;
  }  

}
  
  