@import "./utils/variables";
@import "./utils/is-hidden";
@import "./utils/visually-hidden";
@import "./utils/flexbox";
@import "./base/normalize";
@import "./base/fonts";
@import "./base/common";
@import "./components/logo";
@import "./components/menu";
@import "./components/contacts";
@import "./components/button";
@import "./components/social";
@import "./components/address";
@import "./components/join";
@import "./components/subscribe-form";
@import "./components/modal";
@import "./components/buuton-close";
@import "./components/modal-form/form";
@import "./components/modal-form/form-field";
@import "./components/modal-form/input-wrap";
@import "./layots/header";
@import "./layots/navigation";
@import "./layots/hero";
@import "./layots/section";
@import "./layots/benefits";
@import "./layots/occupation";
@import "./layots/team";
@import "./layots/clients";
@import "./layots/footer";



// * {
//     outline: 2px solid tomato;
// }