.form {
    width: 370px;    
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px){
      width: 448px;      
    }



      &__checkbox-label {
        display: block;
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
        color: $description-header-link-color;
        
          @media screen and (min-width: 1200px){
            width: calc(100% - 11.5px*2);
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
          }
      }
      
  
        
      &__checkbox-link {
        color: $accent-color;
      }
    
      &__button {
        margin-left: auto;
        margin-right: auto;
        padding: 10px 55px 10px 56px;
        background-color: $btn-send-color;
      }

}

  
.form__checkbox + .form__checkbox-icon {

  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px; 
    margin-right: 8px;
    vertical-align: middle;
    border: 2px solid $titles-color;
    border-radius: 2px;  
    
      @media screen and (min-width: 1200px) {
        margin-right: 7px;
      }
    }




} 

  .form__checkbox {
    
    &:checked + .form__checkbox-icon {

      &::before{
      border-color: transparent;
      background-color: $accent-color;
      background-image: url('../img/icon-check.svg');
      background-size: contain;
      background-origin: border-box;
      }
    }
  }