.nav-contacts {
    margin-left: auto;

    @media screen and (max-width: 767px){
      display: none;
    }
    // для десктопа
    // &__item {
    //   &:not(:last-child) {
    //     margin-right: 50px;
    //   }
    // }

    &__link {
      
      // для десктопа
      // align-items: center;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      fill: $description-header-link-color;
      color: $description-header-link-color;
      letter-spacing: 0.02em;
      line-height: 1.1429;
      transition: color 250ms $timing, fill 250ms $timing;

      &:hover,
      &:focus {
        color: $accent-color;
        fill: $accent-color;
      }
    }
    
      &__icon {
      // для десктопа
        // margin-right: 10px;
      }
      
      
      &__envelope {
        // для десктопа
        // width: 16px;
        // height: 12px;
      }
      
      &__smartphone {
        // для десктопа
        // width: 10px;
        // height: 16px;
      }
  }
  
  
  

  
  
  
  
 