.nav-contacts {
    margin-left: auto;

    @media screen and (max-width: 767px){
      display: none;
    }

    @media screen and (min-width: 1200px){
      display: flex;
      margin-left: auto;
    }

    &__item {       
      &:not(:last-child) {
        @media screen and (max-width: 1199px) {
          margin-bottom: 10px;
        }
        
        @media screen and (min-width: 1200px) {
            margin-right: 50px;
        }
        
      }
      

    }
    

    &__link {
      
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      fill: $description-header-link-color;
      color: $description-header-link-color;
      letter-spacing: 0.02em;
      line-height: 1.167;
      transition: color 250ms $timing, fill 250ms $timing;

      @media screen and (min-width: 1200px) {
        display: flex;
        font-size: 14px;
        line-height: 1.1429;
      }

      &:hover,
      &:focus {
        color: $accent-color;
        fill: $accent-color;
      }
    }
    
      &__icon {
      
      margin-right: 8px;
      }
      
      
      &__envelope {
        width: 14px;
        height: 10px;
      }
      
      &__smartphone {
        width: 10px;
        height: 14px;
      }
  }
  
  
  

  
  
  
  
 