.logo {
    
    font-family: $Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-decoration: none;  
    
    @media screen and (max-width: 767px)
    {
      display: inline-block;
    }


    @media screen and (min-width: 1200px)
    {
      width: 145px;
      font-size: 26px;
      line-height: 1.19;
    }
    

    &__label {
      color: $accent-color;
    }
    
    &--dark {
      color: $logo-text-color;
    }
    
    &--white {
      color: $main-color;
    }
  }
  
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px; 

    @media screen and (min-width: 768px) {
    margin-right: 88px;  
    padding-top: 26px;
    padding-bottom: 26px; 
    }

    @media screen and (min-width: 1200px) {
      margin-right: 94px;
      padding-top: 24px;
      padding-bottom: 25px; 
      }

    
  }
  
  .footer__logo { 
    margin-right: 0;
    margin-bottom: 20px;
  }
    // для десктопа
    // margin-right: 0;
    // margin-bottom: 20px;
// }
  
  