.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    
    @media screen and (min-width: 768px) {
        display: none;
    }

    &__icon {
        width: 40px;
        height: 40px;
    }

    &__icon-menu {
        display: block;
    }
    &__icon-cross {
        display: none;
    }
    &.is-open &__icon-cross {
        display: block;
    }

    &.is-open &__icon-menu {
        display: none;
    }
}