.modal {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
    height: 609px;
     background-color: $main-color;
     border-radius: 4px;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     opacity: 1;
     transition: all 1000ms;
    

     @media screen and (min-width: 1200px) {
      max-width: 528px;
      height: 581px;
     }
    
    .backdrop & {
      
      padding: 40px;
      // для десктопа
    //  padding: 40px 39px 40px 41px;
    }
    .is-hidden & {
      
       top: -100%;
       opacity: 0;
       transform: translateX(-100%) scale(0.1);
    }

    &__text {
      
      margin:0;
      padding: 0;
       display: block;
       text-align: center;
       margin-bottom: 12px;
       font-weight: 700;
       font-size: 20px;
       line-height: 1.5;
       color: $titles-color;
       letter-spacing: 0.03em;
      }
  }
  
  .backdrop { 
    position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
     overflow: auto;   
  }
  
  