  $main-color: #ffffff;
  $titles-color: #212121;
  $team-buttons-bg-color: #f5f4fa;
  $footer-bg-color: #2f303a;
  $accent-color: #2196f3;
  $logo-text-color: #000;
  $description-header-link-color: #757575;
  $border-color: #EEEEEE;
  $header-border-color: #ECECEC;
  $hero-bg-color: #C4C4C4;
  $overlay: rgba(47, 48, 58, 0.4);
  $fill-icon-color: #AFB1B8;
  $btn-send-color: #188CE8;
  $modal-input-border-color:rgba(33, 33, 33, 0.2);
  $timing: cubic-bezier(0.4, 0, 0.2, 1);
  $Roboto: "Roboto", sans-serif;
  $Raleway: "Raleway", sans-serif;
